body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/header.jpg");
  min-height: 100%;
}

#textoHeader{
  padding-top: 350px;
  padding-left: 2%;
}

#textoHeaderMovil{
  font-size: 50px;
}
@media screen and (max-width: 300px) {
  #textoHeaderMovil{
    font-size: 30px;
    padding-top: 500px;
  }
}


@media screen and (max-width: 600px) {
  .bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/headercel.jpg");
    min-height: 100%;
  }

  #textoHeaderMovil{
    padding-top: 500px;
    font-size: 30px;

  }
}

@media screen and (min-height: 1000px) {

  #textoHeaderMovil{
    padding-top: 800px;
  }
}

@media screen and (min-height: 2000px) {

  #textoHeaderMovil{
    padding-top: 1100px;
  }
}
.w3-bar .w3-button {
  padding: 16px;
}

#logo{
  height: 70px;
  width: 70px;
}

#menu{
  padding-top: 1.5%;
}

#about img {

  height: 60px;
  width: 60px;
}

#team img{
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 600px) {
  #team img{
    height: 300px;
    width: 300px;
    margin-left: 15%;
  }
}

@media screen and (max-width: 400px) {
  #team img{
    height: 200px;
    width: 200px;
    margin-left: 15%;
  }
}


#work img{
  height: 200px;
  width: 300px;
}

#clients img{
  height: 90%;
  width: 90%;
}

#wrapper .text{
  visibility: hidden;
}

#wrapper:hover .text{
  visibility: visible;
}

#creditos{
  color: black;
}

#creditos:hover{
  color: white;
}
